
.govuk-panel__title {
  margin-top: 0;
  margin-bottom: govuk-spacing(4);
  @include govuk-font($size: 36, $weight: bold);
}
.govuk-panel{
  padding: 15px;
  cursor: pointer;
}
.govuk-panel__body{
  font-size: 1.8rem; 
}