{% extends "layout_unbranded.html" %} {% set bodyClasses = "internal" %} {%
block pageTitle %} GOV.UK Flood Digital Management Console Mockup {% endblock %}
{% block head %}
<link
  href="/public/stylesheets/unbranded.css"
  media="all"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
        <div class="eaLogo"></div>
      </a>
    </div>
    <span class="loginSection">
      <b>Richie Graham</b> <span class="devider">|</span> <a href="#">Logout</a>
    </span>
  </div>
</header>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      Flood Digital Management Console - Mockup V0.9
    </h2>
    <div class="govuk-inset-text">
      This Information was last updated: 05/04/2019 - 14:53PM GMT
    </div>

    <div class="govuk-tabs" data-module="tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
            Summary
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#search">
            Search
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-week">
            Area View
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#cumbria">
            Area View*
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-month">
            Severity View
          </a>
        </li>
      </ul>

      <section class="govuk-tabs__panel" id="past-day">
        <h2 class="govuk-heading-l">Summary</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row bg">
              <th class="govuk-table__header" scope="col">
                Enviroment Agency Area
              </th>
              <th class="govuk-table__header" scope="col">Flood Alerts</th>
              <th class="govuk-table__header" scope="col">Flood Warnings</th>
              <th class="govuk-table__header" scope="col">
                Severe Flood Warnings
              </th>
              <th class="govuk-table__header" scope="col">
                Warning No Longer In Force
              </th>
              <th class="govuk-table__header" scope="col">Total</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#cumbria">Cumbria And Lancashire</a>
              </td>
              <td class="govuk-table__cell">15</td>
              <td class="govuk-table__cell">10</td>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">25</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Greater Manchester, Merseyside and Cheshire
              </td>
              <td class="govuk-table__cell">15</td>
              <td class="govuk-table__cell">10</td>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">25</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Shropshire, Herefordshire etc</td>
              <td class="govuk-table__cell">15</td>
              <td class="govuk-table__cell">10</td>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">25</td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="govuk-button" href="#">
          Refresh
        </button>
      </section>
      <section
        class="govuk-tabs__panel govuk-tabs__panel--hidden"
        id="past-week"
      >
        <h2 class="govuk-heading-l">Area View</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row bg">
              <th class="govuk-table__header" scope="col">
               Cumbria And Lancashire
              </th>
              <th class="govuk-table__header center" scope="col"></th>
              <th class="govuk-table__header center" scope="col">Total</th>
              <th class="govuk-table__header" scope="col">Local Area Name</th>
              <th class="govuk-table__header" scope="col">Warning Area Code</th>
              <th class="govuk-table__header" scope="col">Last Changed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\SevereFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">Severe Flood Warnings</td>
              <td class="govuk-table__cell center">3</td>
              <td class="govuk-table__cell">
                Appleby <br />Holme and Chapel street <br />Cherry Row
              </td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:34</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\LessSevereFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">Flood Warnings</td>
              <td class="govuk-table__cell center">3</td>
              <td class="govuk-table__cell">
                Keswick Campsite<br />Elliot Park at Keswick <br />Coast at
                Cockerham
              </td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:32</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\mediumFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">Flood Alerts</td>
              <td class="govuk-table__cell center">2</td>
              <td class="govuk-table__cell">
                Coast from Cockermouth to Fleetwood<br />Coast from St Bees Head
                to Millom
              </td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:25</td>
            </tr>
            <tr class="govuk-table__row last">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\NoRiskFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">No Longer in Force</td>
              <td class="govuk-table__cell center">1</td>
              <td class="govuk-table__cell">Coast from St Bees Head to Preston Rd</td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:15</td>
            </tr>
            <tr class="govuk-table__row bg">
              <th class="govuk-table__header" scope="col">Merseyside</th>
              <th class="govuk-table__header center" scope="col">Total</th>
              <th class="govuk-table__header" scope="col">Local Area Name</th>
              <th class="govuk-table__header" scope="col">Warning Area Code</th>
              <th class="govuk-table__header" scope="col">Last Changed</th>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\SevereFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">Severe Flood Warnings</td>
              <td class="govuk-table__cell center">3</td>
              <td class="govuk-table__cell">
                Appleby <br />Holme and Chapel street <br />Cherry Row
              </td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:34</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\LessSevereFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">Flood Warnings</td>
              <td class="govuk-table__cell center">3</td>
              <td class="govuk-table__cell">
                Keswick Campsite<br />Elliot Park at Keswick <br />Coast at
                Cockerham
              </td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:32</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\mediumFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">Flood Alerts</td>
              <td class="govuk-table__cell center">2</td>
              <td class="govuk-table__cell">
                Coast from Cockermouth to Fleetwood<br />Coast from St Bees Head
                to Millom
              </td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:25</td>
            </tr>
            <tr class="govuk-table__row last">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\NoRiskFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">No Longer in Force</td>
              <td class="govuk-table__cell center">1</td>
              <td class="govuk-table__cell">Coast from St Bees Head to Preston Rd</td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:15</td>
            </tr>
            <tr class="govuk-table__row bg">
              <th class="govuk-table__header" scope="col">
                Yorkshire and Humber
              </th>
              <th class="govuk-table__header" scope="col">Total</th>
              <th class="govuk-table__header" scope="col">Local Area Name</th>
              <th class="govuk-table__header" scope="col">Warning Area Code</th>
              <th class="govuk-table__header" scope="col">Last Changed</th>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\SevereFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">Severe Flood Warnings</td>
              <td class="govuk-table__cell center">3</td>
              <td class="govuk-table__cell">
                Appleby <br />Holme and Chapel street <br />Cherry Row
              </td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:34</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\LessSevereFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">Flood Warnings</td>
              <td class="govuk-table__cell center">3</td>
              <td class="govuk-table__cell">
                Keswick Campsite<br />Elliot Park at Keswick <br />Coast at
                Cockerham
              </td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:32</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\mediumFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">Flood Alerts</td>
              <td class="govuk-table__cell center">2</td>
              <td class="govuk-table__cell">
                Coast from Cockermouth to Fleetwood<br />Coast from St Bees Head
                to Millom
              </td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:25</td>
            </tr>
            <tr class="govuk-table__row last">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\NoRiskFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">No Longer in Force</td>
              <td class="govuk-table__cell center">1</td>
              <td class="govuk-table__cell">Coast from St Bees Head to Preston Rd</td>
                            <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:15</td>
            </tr>
          </tbody>
        </table>

        <button type="submit" class="govuk-button" href="#">
          Refresh
        </button>
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="cumbria">
        <h2 class="govuk-heading-l">Area View</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row bg">
              <th class="govuk-table__header" scope="col">
                Cumbria And Lancashire
              </th>
              <th class="govuk-table__header" scope="col"></th>
              <th class="govuk-table__header center" scope="col">Total</th>
              <th class="govuk-table__header" scope="col">Local Area Name</th>
              <th class="govuk-table__header" scope="col">Warning Area Code</th>
              <th class="govuk-table__header" scope="col">Last Changed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\SevereFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">Severe Flood Warnings</td>
              <td class="govuk-table__cell">3</td>
              <td class="govuk-table__cell">
                Appleby <br />Holme and Chapel street <br />Cherry Row
              </td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:34</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\LessSevereFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">Flood Warnings</td>
              <td class="govuk-table__cell">3</td>
              <td class="govuk-table__cell">
                Keswick Campsite<br />Elliot Park at Keswick <br />Coast at
                Cockerham
              </td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:32</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\mediumFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">Flood Alerts</td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">
                Coast from Cockermouth to Fleetwood<br />Coast from St Bees Head
                to Millom
              </td>
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:25</td>
            </tr>
            <tr class="govuk-table__row last">
                <td class="govuk-table__cell">
                    <img
                      src="\..\public\images\NoRiskFlood.png"
                      class="floodingIcons"
                      alt="FloodingIcon"
                    /><img />
                  </td>
              <td class="govuk-table__cell">No Longer in Force</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">Coast from St Bees Head to Preston Rd</td>  
              <td class="govuk-table__cell center">123456</td>
              <td class="govuk-table__cell">04/03/2019 - 22:15</td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="govuk-button" href="#">
          Refresh
        </button>
        <p>
          *this is the Cumbria view when clicking on Cumbria in the Summary
          Window
        </p>
      </section>
      <section
        class="govuk-tabs__panel govuk-tabs__panel--hidden"
        id="past-month"
      >
        <h2 class="govuk-heading-l">Severity View</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Area</th>
              <th class="govuk-table__header" scope="col">Alerts</th>
              <th class="govuk-table__header" scope="col">Warnings</th>
              <th class="govuk-table__header" scope="col">Severe Warnings</th>
              <th class="govuk-table__header" scope="col">Not Enforced</th>
              <th class="govuk-table__header" scope="col">Total</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Cumbria And Lancashire</td>
              <td class="govuk-table__cell">15</td>
              <td class="govuk-table__cell">10</td>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">25</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Greater Manchester, Merseyside and Cheshire
              </td>
              <td class="govuk-table__cell">15</td>
              <td class="govuk-table__cell">10</td>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">25</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Shropshire, Herefordshire etc</td>
              <td class="govuk-table__cell">15</td>
              <td class="govuk-table__cell">10</td>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">25</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section
        class="govuk-tabs__panel govuk-tabs__panel--hidden"
        id="past-year"
      >
        <h2 class="govuk-heading-l">Past year</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Area</th>
              <th class="govuk-table__header" scope="col">Alerts</th>
              <th class="govuk-table__header" scope="col">Warnings</th>
              <th class="govuk-table__header" scope="col">Severe Warnings</th>
              <th class="govuk-table__header" scope="col">Not Enforced</th>
              <th class="govuk-table__header" scope="col">Total</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Cumbria And Lancashire</td>
              <td class="govuk-table__cell">15</td>
              <td class="govuk-table__cell">10</td>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">25</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Greater Manchester, Merseyside and Cheshire
              </td>
              <td class="govuk-table__cell">15</td>
              <td class="govuk-table__cell">10</td>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">25</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Shropshire, Herefordshire etc</td>
              <td class="govuk-table__cell">15</td>
              <td class="govuk-table__cell">10</td>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">25</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="search">
        <h2 class="govuk-heading-l">Search</h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row noborder">
              <th class="govuk-table__header noborder" scope="col">
                Search
              </th>
              <th class="govuk-table__header noborder" scope="col">
                Enviroment Agency Area
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row noborder">
              <td class="govuk-table__cell noborder">
                <input
                  class="govuk-input"
                  id="event-name"
                  name="event-name"
                  type="text"
                  placeholder="Preston"
                />
              </td>
              <td class="govuk-table__cell noborder half">
                <select class="govuk-select custom" id="sort" name="sort">
                  <option value="updated" selected>All</option>
                  <option value="updated" selected>Cumbria & Lancashire</option>
                  <option value="published">Shropshire & Herefordshire </option>
                  <option value="views"
                    >Greater Manchester, Merseyside & Cheshire</option
                  >
                </select>
              </td>
            </tr>
          </tbody>
        </table>

        <button type="submit" class="govuk-button" href="#">
          Search
        </button>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row bg">
              <th class="govuk-table__header" scope="col">Preston</th>
              <th class="govuk-table__header" scope="col"></th>
              <th class="govuk-table__header center" scope="col">Total</th>
              <th class="govuk-table__header" scope="col">Local Area Name</th>
              <th class="govuk-table__header" scope="col">Warning Area Code</th>
              <th class="govuk-table__header" scope="col">Last Changed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <img
                  src="\..\public\images\severeFlood.png"
                  class="floodingIcons"
                  alt="FloodingIcon"
                /><img />
              </td>
              <td class="govuk-table__cell">Severe Flood Warnings</td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">
                Prestonby <br />Holme and Chapel street
              </td>
              <td class="govuk-table__cell">0123456</td>
              <td class="govuk-table__cell">04/03/2019 - 16:34</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <img
                  src="\..\public\images\LessSevereFlood.png"
                  class="floodingIcons"
                  alt="FloodingIcon"
                /><img />
              </td>
              <td class="govuk-table__cell">Flood Warnings</td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">
                Preston Campsite<br />Elliot Park at Preston
              </td>
              <td class="govuk-table__cell">0123456</td>
              <td class="govuk-table__cell">04/03/2019 - 14:32</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <img
                  src="\..\public\images\lowRiskFlood.png"
                  class="floodingIcons"
                  alt="FloodingIcon"
                /><img />
              </td>
              <td class="govuk-table__cell">Flood Alerts</td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">
                Coast from Cockermouth to Preston Rd<br />Coast at Preston
              </td>
              <td class="govuk-table__cell">0123456</td>
              <td class="govuk-table__cell">04/03/2019 - 11:25</td>
            </tr>
            <tr class="govuk-table__row last">
              <td class="govuk-table__cell">
                <img
                  src="\..\public\images\noRiskFlood.png"
                  class="floodingIcons"
                  alt="FloodingIcon"
                /><img />
              </td>
              <td class="govuk-table__cell">No Longer in Force</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">
                Coast from St Bees Head to Preston Rd
              </td>
              <td class="govuk-table__cell">0123456</td>
              <td class="govuk-table__cell">04/03/2019 - 09:15</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
For help and information please contact:
<a href="mailto:wandlsupport@Enviroment-agency.gov.uk"
  >wandisupport@enviroment-agency.gov.uk</a
>
{% endblock %} {% block footer %}

<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <svg
          role="presentation"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 483.2 195.7"
          height="17"
          width="41"
        >
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a
            class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license"
            >Open Government Licence v3.0</a
          >, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
          >© Crown copyright</a
        >
      </div>
    </div>
  </div>
</footer>
{% endblock %}
